.header {
  width: 100%;
  margin: 0 0 30px 0;
}

h1 a {
  color: white;
  font-family: 'Courgette', cursive;
  text-decoration: none;
}

h1 a:hover {
  color: #ffbb00;
  text-decoration: none;
}

h2 {
  font-family: 'Noto Sans JP', sans-serif;
}

h3 {
  font-family: 'Noto Sans JP', sans-serif;
}

.title-container {
  display: flex;
}

.title {
  margin: 10px 0 0 20px;
}

.eyecatch {
  margin: 0 auto;
  width: 1000px;
}

.user-container {
  width: 500px;
  text-align: center;
  color: white;
  display:flex;
  justify-content: flex-start;
  margin: 20px 0 0 30px;
}

.user-container a {
  text-decoration: none;
  color: white;
}

.user-container a:hover {
  text-decoration: none;
  color: #ffbb00;
}

.user-btn {
  margin: 0 10px 0 10px;
  padding: 5px 20px 5px 20px;
  width: 150px;
}

.user-name {
  margin: 0 10px 0 10px;
  padding: 5px 20px 5px 20px;
}

.card {
  width: 360px;
  margin: 0px 5px 5px 5px;
}

.card-title {
  font-size: medium;
}

.show-container {
  margin: 0 50px;
  font-family: 'Noto Sans JP', sans-serif;
}

.fish-show-title {
  text-align: center;
  margin: 30px 0;
}

.show-title {
  padding: 10px;
  text-align: center;
  background-color: #92ffff;
  border-radius: 5px;
}

.edit-btn {
  margin: 5px 0 15px 0;
}

.image-box {
  width: 90%;
}

.fish-show-img {
  width: 400px;
  padding: 20px 10px;
}

.fish-show-th {
  width: 150px;
}

.edit-btn {
  margin: 0 0 15px 0;
}

.new-container {
  margin: 0 50px;
  font-family: 'Noto Sans JP', sans-serif;
  width: 500px;
}

.indispensable {
  margin: 0 15px;
  padding: 0 10px;
  text-align: center;
  color: white;
  font-size: 12px;
  background-color: red;
  border-radius: 3px;
}

.footer {
  text-align: center;
  margin: 150px 0 0 0;
  background-color: #f8f9fa;
}
